[user]
	email = aa123593465@gmail.com
	name = Tom Liu (Liu Hsiu-Chi)
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	postBuffer = 157286400
[pull]
    rebase = false
