[include]
	path = ~/.gitconfig.profile
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	postBuffer = 157286400
[pull]
    rebase = false
[push]
    autoSetupRemote = true
[credential]
	helper = 
	helper = !gh auth git-credential
